[core]
  autocrlf = true
  editor = gvim
[alias]
  lg = log --name-status --color --abbrev-commit --date=relative --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
  unstage = reset HEAD --
  st = status
  mt = mergetool
  dt = difftool
[merge]
  tool = gvimdiff
[mergetool]
  prompt = false
[diff]
  tool = gvimdiff
[difftool]
  prompt = false
[push]
  default = simple
[difftool]
  prompt = false
